@import "variables";
.imgCarrito{
    width: 120px;
    padding: 5px 0px;
    background: rgba(29, 29, 29, 0.911);
    border-radius: 10px 0px 0px 0px;
    text-align: center;
    position: fixed;
    top: 100px;
    right: -70px;  
    cursor: pointer;
    transition: .1s all;
    .iconCarrito{
        font-size: 20px;
        color: rgb(211, 211, 211);
        .text{
            color: white;
            margin-left: 15px;
            font-size: 16px;
        }
    }
}
.imgCarritoJS{
    right: 0;
}



.contBasePedido{
    width: 280px;
    padding:5px 0px;
    background: rgba(255, 255, 255, 0.938);
    border-radius: 10px 0px 0px 10px;
    box-shadow: 0px 0px 5px black;
    color: $colorBlck;
    position: fixed;
    top: 130px;
    right:-100%;
    transition: .2s all;
    opacity: 0;
    .contenedorPedidos{
        width: 100%;
        padding:5px;
        //background:rgba(255, 255, 255, 0.432);
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        /*CAMPO NOMBRE*/
        .contCampo1{
            width:90px;
            padding: 5px;
            //background: limegreen;
            .title{
                text-align: center;
                color: $colorVino;
                font-size: 14px;
            }
            .text{
                font-size: 12px;
            }
            .number{
                color: green;
                font-size: 12px;
            }
        }

        /*CAMPO CANTIDAD*/
        .contCampo2{
            width:60px;
            padding: 5px;
            //background: lightseagreen;
            .title{
                text-align: center;
                color:  $colorVino;
                font-size: 14px;
            }
            .number{
                font-size: 12px;
                text-align: center;
            }
        }

    
        /*CAMPO TOTAL*/
        .contCampo5{
            width:50px;
            padding: 5px;
            //background: lightslategray;
            .title{
                text-align: center;
                color:  $colorVino;
                font-size: 14px;   
            }
            .number{
                font-size: 12px;
                text-align: center;
            }
        }
        
        /*CAMPO QUITAR*/
        .contBtnQuitar{
            width:50px;
            padding: 5px;
            //background: green;
            .title{
                text-align: center;
                color:  $colorVino;
                font-size: 14px;   
            }
            .btnQuitar{
                margin: auto;
                width: 25px;
                height: 15px;
                color: #ffffff;
                //background: rgb(122, 122, 122);
               
            }
        }
    }

    .totales{
        width: 100%;
        height: 20px;
        //background: yellow;
        .contNombre{
            width: 70px;
            padding: 1px 0px;
            //background: chartreuse;
            float: left;
            .NombreCantidad{
                font-size: 12px;
                text-align: center;
            }
        }
        .totalCantidad{
            //background: chartreuse;
            float: left;
            margin-left: 55px;
            font-size: 14px;
        }
        
        .totalTotales{
            //background: crimson;
            float: right;
            margin-right: 70px;
            font-size: 14px;
        }
    }
    .contBotones{
        width: 100%;
        padding: 5px 0px;
        //background: rgb(11, 63, 15);
        display: flex;
        justify-content: space-around;
        .btns{
            width: 90px;
            padding: 3px 5px;
            background: $colorBlck;
            color: white;
            border-radius: 5px;
            border:1px solid $colorBlanco;
            cursor: pointer;
        }
        .btns:hover{
            background:rgba(0, 0, 0, 0.795);
            box-shadow: 0px 2px 0px grey;
            color: $colorBlanco;
        }
    }
}
.contBasePedidoJS{
    right: 0px;
    opacity: 1;
}


.btnTop{
    width: 40px;
    height: 40px;
    background: $colorVino;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 100px;
    right: 20px;
    .iconTop{
        font-size: 30px;
        color: white;
    }
    .iconTopJS{
        
    }
}












