@import "variables";
.imgCarrito{
    width: 50px;
    height: 50px;
    background: rgb(29, 29, 29);
    border-radius: 50%;
    box-shadow: 0px 0px 5px black;
    position: fixed;
    top: 120px;
    right: -100%;
    display: flex;
    justify-content: center;
    align-items: center;  
    cursor: pointer;
    transition: 1s linear;
    .iconCarrito{
        font-size: 20px;
        color: rgb(211, 211, 211);
        .text{
            color: white;
            margin-left: 15px;
            font-size: 16px;
        }
    }
}
.btnCarrito_JS{
   right: 20px;
}



.contBasePedido{
    width:360px;
    padding:5px;
    background: white;
    border-radius: 10px 0px 0px 10px;
    box-shadow: 0px 0px 5px black;
    //color: $colorBlck;
    position: fixed;
    top: 180px;
    right:-100%;
    transition: 0.5s all;
    opacity: 0;
    .contenedorPedidos{
        width: 100%;
        //background:rgba(255, 255, 255, 0.432);
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        /*CAMPO NOMBRE*/
        .tabla{
            width: 100%;
            background: rgb(82, 11, 11);
            border: 1px solid white;
            border-radius: 5px;
            .fila{
                color: white;   
                //background: coral;
                .col_title{
                    width: 130px;
                    text-align: center;
                    font-size: 12px;
                    padding: 5px 0px;
                    background: $colorVino; 
                    //background: rebeccapurple;
                }
                .col_name{
                   font-size: 10px;
                   padding: 3px 5px;
                   background: $colorVino; 
                   //background: forestgreen;   
                }
                .col_cant{
                    text-align: center;
                    font-size: 10px;
                    padding: 3px 5px;
                    background: $colorVino; 
                    //background: forestgreen; 
                }
                .col_tipo{
                    text-align: center;
                    font-size: 10px;
                    padding: 3px 5px;
                    
                    background: $colorVino; 
                }
                .col_total{
                    text-align: center;
                    font-size: 10px;
                    padding: 3px 5px;
                    background: $colorVino; 
                    //background: forestgreen; 
                }
               .col_icon{
                   background: $colorVino;  
                   text-align: center;
                   padding: 3px 0px;
                 
               }
            }
          
           
        }
           
        .contBotones{
            width: 100%;
            padding: 5px 0px;
            display: flex;
            justify-content: space-around;
            .boton{
                padding: 5px 30px;
                background: rgb(82, 11, 11);
                color: white;
                border: 2px solid white;
                border-radius: 5px;
                cursor: pointer;
            }
            .boton:hover{
                background: $colorBlck;
                box-shadow: 0px 2px 2px grey;
            }
        }

       

    
    }

    .totales{
        width: 100%;
        height: 20px;
        //background: yellow;
        .contNombre{
            width: 70px;
            padding: 1px 0px;
            //background: chartreuse;
            float: left;
            .NombreCantidad{
                font-size: 12px;
                text-align: center;
            }
        }
        .totalCantidad{
            //background: chartreuse;
            float: left;
            margin-left: 55px;
            font-size: 14px;
        }
        
        .totalTotales{
            //background: crimson;
            float: right;
            margin-right: 70px;
            font-size: 14px;
        }
    }
 
}
.contBasePedidoJS{
    right: 0;
    opacity: 1;
}


.btnTop{
    width: 40px;
    height: 40px;
    background: $colorVino;
    border:1px solid $colorBlanco;
    box-shadow: 0px 2px 2px white;
    border-radius: 5px;
    display: flex;
    opacity: 0;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 50px;
    right: 20px;
    transition: 0.5s all;
    .iconTop{
        font-size: 30px;
        color: white;
    }
}
.btnTopJS{
    opacity: 1;
}












