@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Acme', sans-serif;
}

html{
    scroll-behavior: smooth;
}
.CONTAINER{
    width: 100%;
    max-width: 1210px;
    //padding: 5px 0px;
    //background: rgb(255, 126, 126);
    margin: auto;
    display: grid;
    //gap: 1em;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(4,auto);
    grid-template-areas: "HEADER         HEADER         HEADER"
                         "SLADER         SLADER         SLADER"
                         "SECTION        SECTION        SECTION"
                         "FOOTER         FOOTER         FOOTER";
    .HEADER{
        //padding: 5px 0px;
        background: rgb(1, 47, 65);
        grid-area: HEADER;
    }
    .SLADER{
        //padding: 5px 0px;
        background: rgb(1, 47, 65);
        grid-area: SLADER;
    }
    .SECTION{
        //padding: 5px 0px;
        background: rgb(1, 47, 65);
        grid-area: SECTION;
    }
    .FOOTER{
        //padding: 5px 0px;
        background: rgb(1, 47, 65);
        grid-area: FOOTER;
    }
    
}