@import "variables";
.cont_quienesSomos{
    width:100%;
    padding: 70px 0px;
    background: $colorVino;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    .descripcion{
        width: 500px;
        padding: 20px 0px;
        //background: violet;
        padding: 5px;
        .title{
          font-size: 50px;
          color: rgb(235, 235, 82);
        }
        .parrafo{
          color: white;
        }
        .boton{
            margin-top: 10px;
            width: 150px;
            padding: 5px 20px;
            border: 1px solid white;
            border-radius: 5px;
            background:$colorBlck ;
            color: white;
            cursor: pointer;
            transition: 0.2s all;
        }
        .boton:hover{
            background: white;
            color: black;
        }
    }
    .image{
        width:600px;
        height: 300px;
        background-image: url(../source/botellas.png);
        background-size: 100% 100%;
    }
}